In [1]:
import pandas as pd
import numpy as np
from os import path

DATA_DIR = '/home/richm/projects/python/baseball/data'

# players = pd.read_csv(path.join(DATA_DIR, '2018-season', 'players.csv'))
players = pd.read_csv(path.join(DATA_DIR, '2018-season', 'players.csv'))

players.head()

,name,bats,throws,height,weight,playerID,birthYear,birthMonth,birthDay,birthCity,birthState,birthCountry,debut
0,Jose Abreu,R,R,75.0,255.0,abreujo02,1987,1,29,Cienfuegos,Cienfuegos,Cuba,20140331
1,Ronald Acuna,R,R,72.0,180.0,acunaro01,1997,12,18,La Guaira,Vargas,Venezuela,20180425
2,Willy Adames,R,R,72.0,200.0,adamewi01,1995,9,2,Santiago,Santiago,D.R.,20180522
3,Matt Adams,L,R,75.0,245.0,adamsma01,1988,8,31,Philipsburg,PA,USA,20120520
4,Jim Adduci,L,L,74.0,210.0,adducji02,1985,5,15,Burnaby,BC,CAN,20130901

In [2]:
pp = pd.read_csv(path.join(DATA_DIR, '100-game-sample', 'pitches.csv'))

In [3]:
pp['mph_max'] = 105.1

In [4]:
pp[['pitcher', 'batter', 'i', 'o', 'b', 's', 'pitch_type', 'mph', 'mph_max']].head()

    pitcher    batter  i  o  b  s pitch_type   mph  mph_max
0  S.Romano   A.Eaton  1  0  0  0         FT  95.4    105.1
1  S.Romano   A.Eaton  1  0  1  0         FT  95.0    105.1
2  S.Romano   A.Eaton  1  0  1  1         FT  89.9    105.1
3  S.Romano  A.Rendon  1  0  0  0         FT  95.2    105.1
4  S.Romano  A.Rendon  1  0  0  1         FT  95.4    105.1

In [5]:
pp['sz_height'] = pp['sz_top'] - pp['sz_bot']

In [6]:
pp[['pitcher', 'batter', 'i', 'o', 'b', 's', 'sz_height']].head()

    pitcher    batter  i  o  b  s  sz_height
0  S.Romano   A.Eaton  1  0  0  0   1.649198
1  S.Romano   A.Eaton  1  0  1  0   1.703860
2  S.Romano   A.Eaton  1  0  1  1   1.728450
3  S.Romano  A.Rendon  1  0  0  0   1.581542
4  S.Romano  A.Rendon  1  0  0  1   1.899517

In [7]:
pp['distance_from_middle_of_plate'] = np.abs(pp['x0'])

In [8]:
pp['ln_spin_rate'] = np.log(pp['spin_rate'])

In [9]:
pp['pitcher'].str.upper().sample(5)

24721     M.ESTRADA
7277      J.JIMENEZ
14863    G.RICHARDS
10988      S.ROMANO
10440      J.DEGROM
Name: pitcher, dtype: object

In [10]:
pp['batter'].str.replace('.', ' ').sample(20)

3956       G Stanton
16736        A Judge
2914     D Vogelbach
24084         L Cain
4714       G Polanco
16450      A Escobar
22070      Y Sanchez
8775        T Turner
4485       A Bregman
3487        C Correa
21734         C Cron
25631      J Aguilar
16790      G Stanton
8213       E Rosario
9380          T Shaw
15072        J Upton
28273     C Gonzalez
2514          A Diaz
22525      O Narvaez
17994       C Yelich
Name: batter, dtype: object

In [11]:
atbats = pd.read_csv(path.join(DATA_DIR, '2018-season', 'atbats.csv'))

In [12]:
atbats.mean()

year     2018.000000
stint       1.028409
G          98.515152
AB        275.797348
R          37.092803
H          70.223485
2B         14.202652
3B          1.458333
HR          9.717803
RBI        35.403409
SB          4.297348
CS          1.674242
BB         26.863636
SO         65.632576
IBB         1.693182
HBP         3.335227
SH          0.704545
SF          2.109848
GIDP        5.789773
dtype: float64

In [13]:
atbats[['G','AB','H','HR']].mean(axis=0)

G      98.515152
AB    275.797348
H      70.223485
HR      9.717803
dtype: float64